name: Publish

on:
  release:
    types:
      - released
      - prereleased
      - edited

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write

env:
  DEFAULT_NODE_VERSION: 24.x

jobs:

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: ${{ env.DEFAULT_NODE_VERSION }}
          registry-url: https://registry.npmjs.org
      - run: corepack enable
      - run: yarn install --frozen-lockfile --ignore-scripts
      - run: yarn run build
      # TODO: when Yarn supports --provenance, switch to "yarn publish"
      - run: yarn pack
      - run: npm publish --provenance ./package.tgz
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
